---
import config from '../../config.mjs';
import SocialIcon from './SocialIcon.astro';
---
<div class="w-full h-[1px] overflow-hidden gradient-line"></div>
<div class="py-6 transition-all duration-300 bg-gradient-to-r from-pacamara-secondary/10 to-pacamara-accent/10 dark:bg-gradient-to-r dark:from-pacamara-accent/[2%] dark:to-pacamara-secondary/[18%]">
    <footer class="container mx-auto max-w-screen-xl flex flex-col lg:flex-row gap-6 items-center justify-center px-10">
        <div class="logo flex-none text-center">
            <span class="text-[18px] text-pacamara-dark/40 transition-all duration-300 dark:text-pacamara-white/40">
                <span class="text-pacamara-accent"></span> 
                <a href="https://carterpry.com/" target="_blank" class="transition-all duration-300 text-pacamara-dark/60 dark:text-pacamara-white/60 hover:text-pacamara-accent">
                    © 2024 Carter Pry
                </a>
            </span>
        </div>
    </footer>
</div>