---
import config from '../../config.mjs';

const { postData } = Astro.props;

const title = ( postData?.data?.title ? postData.data.title : config.title ) + config.titleSuffix;
const description = postData?.data?.description ? postData.data.description : config.description;
const permalink = new URL(Astro.url.pathname, Astro.url);
const image = postData?.data?.image ? postData.data.image.src : config.defaultOgImage;
const type = postData?.data?.type ? postData.data.type : "website";

---

<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}

